<img src="../../assets/imgs/reparation.jpg" class="img-fluid" style="height: 300px; width: 100%; top:70px;
position: absolute;">
<div style="width: 3px; height: 60px; background-color: white;left: 20%;margin-top:8%; 
 position: absolute;"></div>
 <p class="font-weight-bolder" style="left: 22%;margin-top:8%; 
 position: absolute; color: white; font-size: 20px;">Que pouvons-nous réparer <br> pour vous aujourd’hui ?
</p>

<section id="section" class="container " style=" width: 100%; position: relative; margin-top: 250px;
   background-color: white; box-shadow: inset 0 0 0em gold, 0 0 1em rgb(155, 149, 149);" >
   <div class="text-center" style="width: 100%; ">
    
   <a routerLink="/reparer/marque/1" class="btn btn-primary" style="background-color: orangered; border-radius: 30px;width: 34%;
   margin-top: -40px;position: relative; border-color: orangered; font-size: 25px">
   <i class="fas fa-mobile-alt "></i>&nbsp;&nbsp; Smartphone</a>&nbsp;&nbsp;
    <a routerLink="/reparer/marque/2" class="btn btn-primary" style="background-color: orangered; border-radius: 30px;width: 34%;
     margin-top: -40px;position: relative; border-color: orangered; font-size: 25px;">
      <i class="fas fa-tablet-alt "></i>&nbsp;&nbsp; Tablette</a>
   </div>
   <br>
   <h5 style="text-align: center;">Réparation express. Garantie 1 an*</h5>
   <br>
   <p>Exigez le meilleur pour votre smartphone ou tablette en nous conﬁant sa réparation dans une des 
       nombreuses boutiques de notre réseau. Récupérez votre appareil comme neuf après seulement 20 minutes.
        Tous les composants que nous utilisons pour redonner souffle à votre appareil sont rigoureusement
         testés avant et après la réparation. Nous offrons 1 an de garantie pour toutes les réparations.
     </p>  <br><br>
       <h5 style="text-align: center;">Nos engagements</h5>
       <br>
       <div class="container">
        <div class="row">
          <div class="col-sm">
            
          </div>
          <div class="col-sm-10">
            <div class="container">
                <div class="row">
                  <div class="col-sm ">
                    <div class="card text-center" style="width: 12rem;display: block;
                    margin-left: auto;
                    margin-right: auto">
                        <div class="card-body">
                          <img src="../../assets/imgs/icon1.png" alt="" style="width: 120px;height: 70px;">
                          <br><br>
                          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                          <p class="card-text">the card title and make up the bulk of the card's content.</p>
                         
                        </div>
                      </div>
                  </div>
                  <div class="col-sm">
                    <div class="card text-center" style="width: 12rem; display: block;
                    margin-left: auto;
                    margin-right: auto">
                        <div class="card-body">
                          <img src="../../assets/imgs/b4.png" alt="" style="width: 70px;height: 70px;">
                          <br><br>
                          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                          <p class="card-text">the card title and make up the bulk of the card's content.</p>
                         
                        </div>
                      </div>
                  </div>
                  <div class="col-sm">
                    <div class="card text-center" style="width: 12rem;    display: block;
                    margin-left: auto;
                    margin-right: auto">
                        <div class="card-body">
                          <img src="../../assets/imgs/b1.png" alt="" style="width: 70px;height: 70px;">
                          <br><br>
                          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                          <p class="card-text">the card title and make up the bulk of the card's content.</p>
                         
                        </div>
                      </div>
                  </div>
                  <div class="col-sm">
                    <div class="card text-center" style="width: 12rem;    display: block;
                    margin-left: auto;
                    margin-right: auto">
                        <div class="card-body">
                          <img src="../../assets/imgs/b3.png" alt="" style="width: 70px;height: 70px;">
                          <br><br>
                          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                          <p class="card-text">the card title and make up the bulk of the card's content.</p>
                         
                        </div>
                      </div>
                  </div>
                </div>
              </div>
          </div>
          <div class="col-sm">
            
          </div>
        </div>
      </div>

      
       <br><br>
       <div class="text-center" style="width: 100%; ">
    
        <a routerLink="/boutiques" (click)="chcolor()" class="btn btn-primary" style="background-color: white; border-radius: 20px;width: 30%;
        margin-top: -40px;position: relative; border-color: orangered; color: orangered;">
         TROUVER VOTRE BOUTIQUE </a>&nbsp;&nbsp;&nbsp;&nbsp;
         <a href="#" class="btn btn-primary" style="background-color: orangered; border-radius: 20px;width: 40%;
          margin-top: -40px;position: relative; border-color: orangered; ">
            EVALUER LE MONTANT DE MA RÉPARATION</a>
        </div>
       <br><br><br>
   
</section>

