<section class="container">
    <hr>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li  class="breadcrumb-item"><a  routerLink="/" (click)="chcolor()" style="text-decoration: none;">Accueill</a></li>
          <li class="breadcrumb-item active" aria-current="page"  >Votre panier</li>
        </ol>
      </nav>
      <hr>
      <br>
</section>

<section id="section" class="container " style=" width: 100%;
background-color: white; box-shadow: inset 0 0 0em gold, 0 0 1em rgb(155, 149, 149);" >
<br>
<h3 style="text-align: center; color: orangered;">Panier</h3>
<br><br>
<label class="form-control my-0 py-1 amber-border" style="background-color: rgb(241, 223, 199);
color: orangered;" aria-label="Search">
    Votre panier est vide</label>
<br>
<h5><a routerLink="/produit" style="color: black;">Rechercher</a> les produits qui vous intéressent</h5>
<br><br><br>
</section>
