<img src="../../assets/imgs/revendre.jpg" class="img-fluid" style="height: 300px; width: 100%; top:70px;
position: absolute;">
<!-- <div style="width: 3px; height: 30px; background-color: white;left: 20%;margin-top:9%; 
 position: absolute;"></div>
 <p class="font-weight-bolder" style="left: 22%;margin-top:9%; 
 position: absolute; color: white; font-size: 20px;">Rachat de votre téléphone
</p> -->

<section id="section" class="container " style=" width: 100%; position: relative; margin-top: 250px;
   background-color: white; box-shadow: inset 0 0 0em gold, 0 0 1em rgb(155, 149, 149);" >
  
   <br>
   <h5 style="text-align: center;">Vous changez de téléphone et votre mobile est encore fonctionnel ?
     Découvrez notre service de reprise de smartphone.</h5>
   <br>
   <p>Exigez le meilleur pour votre smartphone ou tablette en nous conﬁant sa réparation dans une des 
       nombreuses boutiques de notre réseau. Récupérez votre appareil comme neuf après seulement 20 minutes.
        Tous les composants que nous utilisons pour redonner souffle à votre appareil sont rigoureusement
         testés avant et après la réparation. Nous offrons 1 an de garantie pour toutes les réparations.
     </p>  <br><br>
     
     <div class="text-center" style="width: 100%; ">
    
         <a routerLink="/boutiques" (click)="chcolor()" class="btn btn-primary" style="background-color: orangered; border-radius: 20px;width: 25%;
          margin-top: -40px;position: relative; border-color: orangered;">
            
            TROUVER VOTRE BOUTIQUE</a>
        </div>
     <br><br>

     <section id="s11" class="container w-75"> 
        <div  class="container " >
            <div id="dan1" class="row" style="visibility: hidden;">
              
              <div class="col-sm-2 " >
                <img  src="../../assets/imgs/t1.png " style=" width:110px; height:130px;display: block;
                margin-left: auto;
                margin-right: auto" alt="">
                
              </div>
              <div class="col-sm">
                <h5> Smartphones fonctionnels</h5> <br>
                <p>  Peu importe si l’écran ou la façade arrière sont abîmés. Si votre téléphone fonctionne, 
                  sa revente est possible. <br>
                  Consultez nos conditions de rachat</p>
              </div>
            </div>
          </div>
<br><br>
          <div  class="container" style="visibility: hidden;">
            <div id="dan2" class="row">
              
              <div class="col-sm-2" >
                <img  src="../../assets/imgs/t2.png " style=" width:110px; height:130px; display: block;
                margin-left: auto;
                margin-right: auto" alt="">
                
              </div>
              <div class="col-sm">
                <h5> Smartphones fonctionnels</h5> <br>
                <p>  Peu importe si l’écran ou la façade arrière sont abîmés. Si votre téléphone fonctionne, 
                  sa revente est possible. <br>
                  Consultez nos conditions de rachat</p>
              </div>
            </div>
          </div>
          <br><br>
          <div  class="container" style="visibility: hidden;">
            <div id="dan3" class="row">
              
              <div class="col-sm-2" >
                <img  src="../../assets/imgs/t3.png " style=" width:110px; height:130px; display: block;
                margin-left: auto;
                margin-right: auto" alt="">
                
              </div>
              <div class="col-sm">
                <h5> Smartphones fonctionnels</h5> <br>
                <p>  Peu importe si l’écran ou la façade arrière sont abîmés. Si votre téléphone fonctionne, 
                  sa revente est possible. <br>
                  Consultez nos conditions de rachat</p>
              </div>
            </div>
          </div>
          <br><br>
          <div  class="container" >
            <div id="dan4" class="row" style="visibility: hidden;">
              
              <div class="col-sm-2" >
                <img  src="../../assets/imgs/t4.png " style=" width:110px; height:130px; display: block;
                margin-left: auto;
                margin-right: auto" alt="">
                
              </div>
              <div class="col-sm">
                <h5> Smartphones fonctionnels</h5> <br>
                <p>  Peu importe si l’écran ou la façade arrière sont abîmés. Si votre téléphone fonctionne, 
                  sa revente est possible. <br>
                  Consultez nos conditions de rachat</p>
              </div>
            </div>
          </div>
             <br><br>
           
             
          
     </section>
     <section class="container text-center" style=" border-radius: 20px; width: 90%;
             border:1px solid darkslategray">
                  <h5>Quels sont les modèles de téléphone qui sont rachetés ? <br><br>
                    Les téléphones éligibles sont les appareils que nous pouvons ensuite reconditionner et 
                    revendre</h5>
                    <br><br>
                    <div class="container" style="font-size: 15px; color: dimgrey;">
                        <div class="row">
                          
                          <div class="col-sm-3">
                            MARQUE
                          </div>
                          <div class="col-sm-9">
                            	MODÈLES REPRIS
                          </div>
                        </div>
                      </div>
                
                    <hr>
                
                    <div class="container" style="font-size: 13px;">
                        <div class="row">
                          
                          <div class="col-sm-3">
                            Apple
                          </div>
                          <div class="col-sm-9">
                            	
                            iPhone 6S, iPhone 7, iPhone 8 / 8 Plus, iPhone X, iPhone XR, iPhone XS / XS Max,
                             iPhone 11 / 11 Pro
                          </div>
                        </div>
                      </div>
                      <hr>
                      <div class="container" style="font-size: 13px;">
                        <div class="row">
                          
                          <div class="col-sm-3">
                            Samsung
                          </div>
                          <div class="col-sm-9">
                      	
                             Galaxy S8 / S8+, Galaxy S9 / S9+, Galaxy S10e / S10 / S10+
                          </div>
                        </div>
                      </div>
                      <hr>
                      <div class="container" style="font-size: 13px;">
                        <div class="row">
                          
                          <div class="col-sm-3">
                            Huawei
                          </div>
                          <div class="col-sm-9">
                         	
                                 Huawei P20 / P20 Pro, Huawei P30 / P30 Pro
                          </div>
                        </div>
                      </div>
                      
                    <br><br>
                    <div class="text-center" style="width: 100%; ">
    
                        <a routerLink="/boutiques" (click)="chcolor()" class="btn btn-primary" style="background-color: orangered; border-radius: 20px;width: 25%;
                         margin-top: -40px;position: relative; border-color: orangered;">
                           
                           TROUVER VOTRE BOUTIQUE</a>
                       </div>
                       <br><br>
     </section>
     <br><br>
     <div class="container">
        <div class="row">
         
          <div id="dan5" class="col-sm-4" style="visibility: hidden;">
            <img  src="../../assets/imgs/t5.jpg" style="width: 100%; " alt="">
          </div>
          <div class="col-sm">
           <h5 style="color: darkblue;">Dans quel état doit être mon téléphone ?</h5> <br><br>
            En état de fonctionnement : le téléphone s'allume et fonctionne <br>
            Non oxydé ( lorsqu'un téléphone tombe dans l'eau, il s'oxyde ) <br>
            Désimlocké ( débloqué tout opérateur ) <br>
            Pour les iPhones uniquement, débloqué iCloud ( compte Apple enlevé et la fonction Localiser mon
             iPhone doit être désactivée ) <br><br>
            Votre Samsung Galaxy, votre iPhone ou votre Huawei est un peu abîmé à l'extérieur ou l'écran est 
            cassé ? Pas de panique. L'aspect esthétique de l'écran, du châssis et de la coque n'est pas une 
            condition limitative de reprise et n'entre pas en compte dans le prix final de rachat.
          </div>
        </div>
      </div>
     <br><br>
       <h5  style="color: darkblue; text-align: center;">Nos engagements</h5>
       <br>
       <div class="container">
        <div class="row">
          <div class="col-sm">
            
          </div>
          <div class="col-sm-10">
            <div class="container">
                <div class="row">
                  <div class="col-sm">
                    <div class="card text-center" style="width: 12rem; display: block;
                    margin-left: auto;
                    margin-right: auto">
                        <div class="card-body">
                          <img src="../../assets/imgs/icon1.png" alt="" style="width: 120px;height: 70px;">
                          <br><br>
                          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                          <p class="card-text">the card title and make up the bulk of the card's content.</p>
                         
                        </div>
                      </div>
                  </div>
                  <div class="col-sm">
                    <div class="card text-center" style="width: 12rem; display: block;
                    margin-left: auto;
                    margin-right: auto">
                        <div class="card-body">
                          <img src="../../assets/imgs/b4.png" alt="" style="width: 70px;height: 70px;">
                          <br><br>
                          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                          <p class="card-text">the card title and make up the bulk of the card's content.</p>
                         
                        </div>
                      </div>
                  </div>
                  <div class="col-sm">
                    <div class="card text-center" style="width: 12rem; display: block;
                    margin-left: auto;
                    margin-right: auto">
                        <div class="card-body">
                          <img src="../../assets/imgs/b1.png" alt="" style="width: 70px;height: 70px;">
                          <br><br>
                          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                          <p class="card-text">the card title and make up the bulk of the card's content.</p>
                         
                        </div>
                      </div>
                  </div>
                  <div class="col-sm">
                    <div class="card text-center" style="width: 12rem; display: block;
                    margin-left: auto;
                    margin-right: auto">
                        <div class="card-body">
                          <img src="../../assets/imgs/b3.png" alt="" style="width: 70px;height: 70px;">
                          <br><br>
                          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                          <p class="card-text">the card title and make up the bulk of the card's content.</p>
                         
                        </div>
                      </div>
                  </div>
                </div>
              </div>
          </div>
          <div class="col-sm">
            
          </div>
        </div>
      </div>

      
       <br><br>
      
       <br><br><br>
   
</section>


